body{
  background-image: url("https://img.wallpapersafari.com/desktop/1366/768/92/55/oZGC7g.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Arial', sans-serif;
}

.nav-link {
  font-size: 25px;
  color: whitesmoke;
}


.home{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 180px;
  position: relative;
  top: 150px;
}

.card{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px ; 
  margin-bottom: 150px;
  border: none;
  background: transparent;

}

.img-fluid{
  border-radius: 25% 25% 25% 25% ;
}

#about{
  max-width:640px;
}

.d-block{
  max-height: 500px;
  max-width: 600px;
  display: flex;
  align-content: center;
} 


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }

 .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


@media screen and (max-width: 610px) {


  .d-block{
      max-height: 300px;
       max-width: 400px;
       display: flex;
       align-content: center;
   } 
   
   .carousel{
      max-height: 300px;
       max-width: 400px;
   }

   .card{
       width: 320px;
       margin: 200px 4px;
   }

   #about{
       width: 320px;
   }

   .home{
       width: 320px;
   }
}